.content {
  width: 600px; 
  margin: auto;
  margin-top: 45px; 
  clear: both;
}

h1 {
  color: rgb(26, 29, 28);
  text-shadow: 2px 2px rgb(245, 246, 250);
}

label {
  font-size:medium;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

fieldset {

  background-color: #E0E1FF;
  box-shadow: 2px 2px #5e5e6d;
  border-radius: 25px;
  border: none;
  padding: 25px;

}

legend{
  font-size:medium;
  box-shadow: 2px 2px rgb(95, 93, 93);    
}

